<launch>
    <!-- YOLO -->
    <!-- <arg name="network_param_file" default="$(find darknet_ros)/config/yolov2-tiny.yaml"/> -->
    <!-- <arg name="network_param_file" default="$(find darknet_ros)/config/yolov4-tiny-arm.yaml"/> -->
    <arg name="network_param_file" default="$(find darknet_ros)/config/yolov4-arm.yaml" />


    <!-- 摄像头 -->
    <!-- <node name="usb_cam" pkg="usb_cam" type="usb_cam_node" respawn="true" output="screen">
        <param name="video_device" value="/dev/video0" />
        <param name="image_width" value="640" />
        <param name="image_height" value="480" />
        <param name="pixel_format" value="yuyv" />
        <param name="camera_frame_id" value="usb_cam" />
        <param name="io_method" value="mmap"/>
        <param name="image_flip" value="true"/>
        <param name="image_flip_code" value="1"/>
    </node> -->
    <!-- <node name="usb_cam" pkg="socket_img" type="socket_img_recv.py" respawn="true" output="screen"/> -->

    <!-- 畸变矫正 -->
    <!-- <node ns="usb_cam" name="image_proc" pkg="image_proc" type="image_proc" respawn="true" output="screen"/> -->

    <!-- YOLO -->
    <include file="$(find darknet_ros)/launch/darknet_ros.launch">
        <arg name="network_param_file" value="$(arg network_param_file)" />
        <arg name="image" value="usb_cam/darknet_img" />
    </include>
</launch>